{% extends 'core/base.html' %}

{% block main %}

<div class = "Carrito ">
    <a href="{% url 'carrito' %}" class="btn btn-primary" id = "botonCarrito"><i class="bi bi-cart fs-3" id = "cartIcon"></i> <span style="margin: 0 0 0 0.4vw; width: 10vw;">
      
      {% if total_cantidad > 0 %}
      {{ total_cantidad }}
      {% endif %}

    </span></a>
</div>
 

  <!-- Catálogo de productos (CARDS)-->  
  <p class = "textCatálogo" style="margin-top: 0.9vw ;margin-left: 1vw; margin-bottom: 0; position: relative;">Catálogo de Productos</p>

  <div class = "productos"> 
    <div class="row row-cols-2 row-cols-md-3 g-2" id = "productRows" style="padding: 0 0 0 0; margin: 0 0 0 0;">
        {% for producto in productos %}
        <div class="col">
          <div class="card">
            {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <h5 class="price"> $ {{ producto.precio }} </h5>
              <a  href="{% url 'Add' producto.id %}" class="btn btn-primary addProduct">Añadir al Carrito</a>
            </div> 
          </div>
        </div>
        {% endfor %} 
      </div>
  </div>

{% endblock %}    